<!--
  Title: app.component.html
  Purpose: main application html
  Date: 03.24.2024
  Author: Cody Skelton
  Code attribution: Code sourced from Professor Krasso's YouTube video at https://www.youtube.com/watch?v=XRm0SnUJROU&ab_channel=Devression and WEB 425's Exercise 1.5 program requirements
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>

  </ul>

</nav>

<div role="main" class="container">

  <br><br>
  <h2>Exercise 3.3 - Passing Data to Routes, Part 2</h2>
  <div class="row" *ngIf="isLoggedIn; else showError">

    <div class="col">
      <!-- This should have been in my-image component HTML -->
      <app-my-image></app-my-image>
    </div>

    <div class="col">
      <!-- This should have been in my-details component HTML -->
      <app-my-details></app-my-details>
    </div>

  </div>

  <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="alert alert-danger">
          You are not authorized to view this content.
        </h4>
      </div>
    </div>
  </ng-template>

</div>
