<!--
  title: about.component.html
  author: Cody Skelton
  date: 04.04.2024
  code derived from WEB 425 week 2 assignment 4 requirements and WEB 425 GitHub repository
-->

<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Taylor Swift</h3>
    </div>
  </div>

  <hr>

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/microphone.jpg">
      <figcaption>Photo by Erkan  Utu: https://www.pexels.com/photo/grayscale-condenser-microphone-302655/</figcaption>
    </div>
    <div class="col-sm-9">
      <p>
        Taylor Swift is an American singer and composer. Swift's music spans across multiple genres, including pop, country, rock, and electronic. She began professional songwriting around 2005 at the age of 14, with her debut album <em>Taylor Swift</em> releasing in 2006. Swift is currently touring globally, with major economic impact. It's one of the highest grossing music events that have ever existed, with estimated projection of $2.17 billion by the end of the tour in 2024.
      </p>
    </div>
  </div>
</div>
