<div fxLayout="row wrap">

  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/mikolaj-DCzpr09cTXY-unsplash.jpg"/>
      </div>
      <div>
        <em>
          Photo by <a href="https://unsplash.com/@qmikola?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" class="attribution-link">Mikołaj</a> on <a href="https://unsplash.com/photos/white-book-page-with-black-background-DCzpr09cTXY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" class="attribution-link">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">The Riordanverse</h1>

    <p>
      Rick Riordan is the #1 New York Times bestselling author of over twenty novels for young readers, including the Percy Jackson series.

      For fifteen years, Rick taught English and history at public and private middle schools in the San Francisco Bay Area and in Texas. While teaching in San Antonio, Saint Mary’s Hall honored him with the school’s first Master Teacher Award.

      While teaching full time, Riordan began writing mystery novels for grownups. His Tres Navarre series went on to win the top three national awards in the mystery genre – the Edgar, the Anthony and the Shamus. Riordan turned to children’s fiction when he started The Lightning Thief as a bedtime story for his oldest son.

      Today, over 190 million copies of his books are in print worldwide, and rights have been sold into more than 37 countries. Rick and his wife Becky are both executive producers overseeing TV/film adaptations of his works including Percy Jackson, the Kane Chronicles and Daughter of the Deep.
    </p>

    <em>Biography by: <a href="https://rickriordan.com/about/" target="_blank" class="attribution-link">Rick Riordan</a></em>
  </div>

</div>
