<!--
  title: contact.component.html
  author: Cody Skelton
  date: 04.04.2024
  code derived from WEB 425 week 2 assignment 4 requirements and WEB 425 GitHub repository
-->

<div class="contact-container">

  <div class="row">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-map"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1000 Galvin Rd S</li>
            <li class="list-group-item border-0">Bellevue, Nebraska 68005</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-telephone"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">Direct: 555-555-5555</li>
            <li class="list-group-item border-0">Fax: 555-555-5555</li>
            <li class="list-group-item border-0">Email: <a type="Email">genericemail&#64;gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
